# Java / Maven
target/
*.jar
*.war

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store

# Banco local
*.db
*.sqlite
*.sqlite3

# Frontend
frontend-controle-compras/node_modules/
frontend-controle-compras/dist/

# Logs
*.log
